/*all button */


/*
.btn{
    font-size:1.3rem;
    font-weight:400;
    padding:15px 20px;
    border:none;
    border-radius: 3px;
}
.btn-inactive{
    background:var(--clr-dark-300);
    color:var(--clr-dark-400);
}
.btn-active{
    background:var(--clr-primary-400);
    color:var(--clr-light-100);
}

*/

%btn {
    display: inline-flex;
    border-radius: 3px;
    padding: 6px 25px;
    text-align: center;
    font-size: 1rem;
    height: 50px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    //line-height: 1.3;
    &:focus,
    &:hover {
        background: var(--clr-primary-400);
        color: var(--clr-light-100);
    }
}

.btn-rounded {
    border-radius: 40px;
}

.btn-primary {
    @extend %btn;
    background: var(--clr-primary-400);
    color: var(--clr-light-100);
}
.btn-success {
    @extend %btn;
    background: var(--clr-success-500);
    color: var(--clr-light-100);
}
.btn-inactive a,
.btn-inactive {
    @extend %btn;
    background: var(--clr-dark-300);
    color: var(--clr-dark-400);
    border: none;
}

.btn-active a,
.btn-active {
    @extend %btn;
    background: var(--clr-primary-400);
    color: var(--clr-light-100) !important;
    border: none;
}
.btn-active a:hover,
.btn-active:hover {
	background: var(--clr-primary-500);
}
.btn-outline {
    @extend %btn;
    background: transparent;
    color: var(--clr-primary-400);
    border: 1px solid var(--clr-primary-400);
}

.btn-action {
    @extend %btn;
    border: none;
    background: var(--clr-warning-500);
    color: var(--clr-light-100);
}

.search-btn {
    border: none;
    background: none;
    position: absolute;
    line-height: 50px;
    color: var(--clr-primary-600);
    left: 10px;
}

.signup-btn,
.logn-btn {
    width: 100%;
    @extend %btn;
    background: var(--clr-primary-400);
    color: var(--clr-light-100);
    border: none;
}
.full-btn a,
.full-btn {
    width: 100%;
}
.full-btn a:hover,
.full-btn:hover{
    background: var(--clr-primary-400);
    color: var(--clr-light-100);
    border: none;
}
.btn-small{
	text-align: center;
	font-size: 1rem;
	height: 35px;
	font-weight: 400;
}
.btn-long {
	min-width: 220px;
}
.btn-plan-active{
    border:none;
    background:transparent;
    font-weight:600;
    color: var(--clr-primary-400);
}
.modal-action-btns {
	width: 100%;
	justify-content: space-between;
	display: flex;
}