//forms Styles

.inline-form {
	display: inline-flex;
	width: 100%;
	gap: 30px;
	margin: 20px 0;
}
.select-field,
.text-field {
	width: 40%;
	border: 1px solid var(--clr-secondary-500);
	min-height: 54px;
	border-radius: 3px;
	padding: 10px;
}

.select-field :after{
    color:var(--clr-secondary-500);
}