

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.source-logo {
	text-align: center;
	width: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: rgba(0,0,0,0.4);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  /*transition: all 0.35s ease-in;*/
  input{
    width:100%;
  }
  .tooltiptext {
	top: -5px;
	left: -190px;
}
.tooltip-btn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent  var(--clr-primary-400);
}
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
  z-index:1500;
}

.modal-dialog {
  position: relative;
  width: clamp(40%,60%,100%);
  max-height: 80vh;
  border-radius: 5px;
  background: var(--clr-light-100);
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem 2rem;
}

.modal-header,
.modal-footer {
  background: var(--clr-light-100);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .close-modal {
    font-size: 2.5rem;
    border: none;
    background: transparent;
    color: var(--clr-dark-300);
    cursor:pointer;
}
.modal-header .close-modal:hover {
    color: var(--clr-warning-400);
    cursor:pointer;
}

.modal p + p {
  margin-top: 1rem;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/*------------------------card menu-------------------------*/
.card-toggle_next_iconmenu {
  margin: 3px 0px;
}
.card-toggle_next_iconmenu:focus .card-toggle_next_iconmenu_menufloatmain {
  background: #fff;
  width: 180px;
  left: -88px;
  top: 30px;
  position: absolute;
  transform: scale(1.2);
  transform-origin: 200px 0;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  border: 1px solid var(--clr-dark-200);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}
.card-toggle_next_iconmenu_menufloatmain {
  background: #fff;
  width: 200px;
  left: -106px;
  top: 30px;
  border-radius: 5px;
  position: absolute;
  transform: scale(0.9);
  transform-origin: 200px 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--clr-dark-200);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}
/*
.card-toggle_next_iconmenu:before {
  background: #757575;
  box-shadow: 0px 6px #757575, 0px 12px #757575;
}
*/
.entry-paper-list {
    line-height: 40px;
    height: 40px;
    padding: 0px 15px;
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.entry-paper-list:hover {
  color: var(--clr-primary-400);
  background: var(--clr-primary-100);
}
.entry-paper-list:active {
  background: rgba(0, 0, 0, 0.1);
}


.card-paper-list_target_menu {
	position: relative;
	background: none;
	border: none;

}
.notification-card{
  	left: -148px !important;
	top: 34px !important;
}
.user-card {
  width:220px !important;
	left: -48px !important;
	top: 34px !important;
}
.card-paper-list_target_menu:focus .card-paper-list_target_menu_menupaper {
  background: #fff;
  width: 200px;
  left: -106px;
  top: 30px;
  position: absolute;
  transform: scale(1.2);
  transform-origin: 200px 0;
  z-index: 10;
  opacity: 1;
  visibility: visible;
  border: 1px solid var(--clr-dark-200);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}
.card-paper-list_target_menu_menupaper {
  background: #fff;
  width: 200px;
  left: -106px;
  top: 30px;
  border-radius: 5px;
  position: absolute;
  transform: scale(0.9);
  transform-origin: 200px 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--clr-dark-200);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}
/*
.card-paper-list_target_menu:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #B8BAB7;
  border-radius: 50%;
  top: 0;
  box-shadow: 0px 6px #B8BAB7, 0px 12px #B8BAB7;
}*/

.card-toggle_next_iconmenu_menufloatmain::after {
    content: "";
    position: absolute;
    right: 20px;
    top: -20px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: var(--clr-dark-200);
    z-index: 0;
}
.card-toggle_next_iconmenu_menufloatmain::before {
	content: "";
  position: absolute;
  border-color:var(--clr-dark-200);
  border: solid transparent;
  border-bottom-color: white;
  border-width: 11px;
  margin-left: -10px;
  top: -20px;
  right: 20px;
  z-index: 1;
}


//=============custom modal content=========================
.header-content {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 15px;
  align-items:center;
}
.modal-title-txt {
	font-size: 1.2rem;
	margin-bottom: 5px;
  font-weight: 500;
}
.title-icon {
	font-size: 3rem;
	color: var(--clr-primary-400);
}
.form-lable-with-right-tooltip {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
input.modal-password {
	width: 100%;
  border: 1px solid var(--clr-secondary-500);
  min-height: 50px;
  border-radius: 3px;
  padding: 10px;
}
.modal-pass-content{
  position:relative;
  width:100%;
  .pass.custom-checkbox {
	left: 93%;
	top: 33%;
}
}
.modal-pass-content-inner{
  display:flex;
  justify-content: space-between;
	align-content: center;
	align-items: center;
}
.modal-copyTooltip {
	background: var(--clr-dark-100);
	height: 50px;
	border-radius: 3px;
	padding: 10px 20px;
  min-width: 200px;
  line-height: 30px;
  text-align: center;
}
.pass-info-content{
  display:flex;
  justify-content: space-between;
}


/*----------------------user-pohot modal------------------------------*/
.modal-dialog.user-pic {
	width: 30%;
}
.user-pic-upload{
width: 85%;
height:100%;
}
.profile-pic-big{
  text-align:center;
}
.pic-upload-section {
	display: -moz-box;
	display: flex;
	height: 100%;
	-moz-box-pack: center;
	justify-content: center;
	position: relative;
	text-align: center;
  top: 80px;
}
.upload-pic-form{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
}
.profile-pic-big img {
	width: 250px;
	height: auto;
	border: 1px solid var(--clr-dark-200);
	border-radius: 50%;
}
.help-info {
  display:block;
	text-align: center;
}
.info-title {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.circle-icon-btn {
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	border: 1px solid var(--clr-dark-300);
	border-radius: 50%;
	font-size: 25px;
}
.take-pic,
.upload-pic {
	display: flex;
	align-items: center;
	gap: 15px;
	border-bottom: 1px solid var(--clr-dark-300);
	padding: 10px;
}
.take-pic:hover,
.upload-pic:hover{
  background:var(--clr-primary-100);
  cursor:pointer;
}
.photo-upload-options{
  display:none;
}
.modal-video{
 position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}