//table components styles
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
tr{
	border: 1px solid var(--clr-dark-200);
	height:45px;
}
th:first-child{
  -webkit-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
td, th {
  
  text-align: left;
  padding: 8px;
}
/*
tr:nth-child(even) {
  background-color: #dddddd;
}*/

