/*the container must be positioned relative:*/

.custom-select {
  position: relative;
  width: 100%;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  border: 1px solid var(--clr-secondary-500);
  background-color: var(--clr-light-100);
  border-radius: 3px;
}
/*style the arrow inside the select element:*/

.select-selected:after {
  position: absolute;
  content: "";
  top: 40%;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--clr-primary-400) transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--clr-primary-400) transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
  color: var(--clr-secondary-500);
  padding: 8px 16px;
  //border: 1px solid var(--clr-secondary-500);
  cursor: pointer;
  user-select: none;
  min-height:50px;
  line-height:33px;
}
/*style items (options):*/

.select-items {
	position: absolute;
	background-color: var(--clr-light-100);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	border: 1px solid var(--clr-dark-300);
	border-radius: 3px;
}
/*hide the items when the select box is closed:*/

.select-hide {
  display: none;
}

.same-as-selected,
.select-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}


/*------------file upload cotent-----------------*/
.upload-section {
	display: flex;
	flex-flow: row;
	justify-content: center;
	height: 150px;
	align-content: center;
	align-items: center;
	background: var(--clr-primary-100);
	border: 1px solid var(--clr-primary-400);
	border-radius: 3px;
	text-align: center;
  flex-direction: column;
}
.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: var(--clr-primary-400);
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: var(--clr-primary-400);
  color: var(--clr-light-100);
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}


/*--------------------------custome box radio button------------------------------*/
.middle {
  width: 100%;
  display: flex;
  gap: 30px;
  input[type="radio"] {
    display: none;
    &:checked {
      + .box {
        color:var(--clr-primary-400);
        background-color: var(--clr-light-100);
        border:1px solid var(--clr-primary-400);
        .active-icon{
          display:block;
        }
        .hidden-icon{
          display:none;
        }
        .database-brand {
          width: 100%;
          height:120px;
          background: var(--clr-primary-100);
          border-bottom: 1px solid var(--clr-primary-400);
        }

      }
    }
  }
  .box {
    width: 250px;
    height: 150px;
    background-color: var(--clr-light-100);
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--clr-dark-300);
    position: relative;
    font-weight: 600;
    .active-icon{
          display:none;
        }
        .hidden-icon{
          display:block;
        }
    &:active {
      transform: translateY(10px);
    }
    .database-brand {
          width: 100%;
          height:120px;
          background: var(--clr-dark-200);
          border-bottom: 1px solid var(--clr-dark-300);
        }

  }
  
 
}
.box p {
	margin: 15px 0;
}
.icon {
	width: 100%;
	display: inline-flex;
	justify-content: center;
}
.version {
	margin: 5px 0 !important;
	font-size: 0.8rem;
	font-weight: 300;
}