/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    height:auto;
    min-height: 100vh;
   // transition: all 0.3s;
}

.project-title {
    display: flex;
    width: 100%;
    gap: 10px;
    .menu-icon {
        font-size: 1.5rem;
    }
}


.single-feature-menu a {
	display: flex;
    //justify-content: flex-end;
    align-items: center;
    .menu-icon {
        width:auto;
        height:auto;
        font-size: 3rem;
        color: $blue;
        margin-right: 10px;
  }
  .menu-title-text {
  display: flex;
  font-size: 1rem;
  color: $blue;
  font-weight: 600;
}

.menu-desc-text {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  color: $grey3;
}
}

/*
.features-options {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
*/
.step-text,
.back-btn{
    display:inline-flex;
    width:100%
}
.source-form {
	width: 100%;
	display: block;
}

.source-form ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.source-form ul li a {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.source-form ul li a img{
    margin-right:15px;
}

.cloud-source{
    display:flex;
    width:100%;
    flex-flow:row;
    justify-content:space-between;
}