// colors
//master colors
$blue: #0069ff;
$dark-navyblue: #2d4059;
$royal-blue: #13387e;
$skyblue: #04c2f3;
$spring-green: #00d7d2;
$blue-ash: #677694;
$green: #127c43;
$success-green: #41a639;
$light-green: #1fce51;
$orange: #eb6607;
$grey1: #333333;
$grey2: #4f4f4f;
$grey3: #828282;
$grey4: #bdbdbd;
$grey5: #e0e0e0;
$grey6: #f2f2f2;
$hover-bg-lightblue: #004cff26; // Colors
$base-font-color: $dark-navyblue !default;
$base-border-color: $dark-navyblue !default;
$base-input-border-color: #c0c0c0 !default;
$base-disabled-color: #ebebeb !default; // coloes library
$colors: (
  primary: (100:hsl(215, 100%, 90%), 200:hsl(215, 100%, 86%), 300:hsl(215, 100%, 70%), 400:hsl(215, 100%, 50%),500:hsl(215, 100%, 26%), 600:hsl(215, 100%, 10%)),
  secondary: (100:hsl(214, 33%, 92%),500:hsl(214, 33%, 25%)),
  dark: (100:hsl(0,0%,94.9%), 200:hsl(0, 0%, 85%), 300:hsl(0, 0%, 80%),400:hsl(0, 0%, 55%),500:hsl(0, 0%, 28%),600:hsl(0, 0%, 22%)),
  success: (100:hsl(149, 74%, 94%),200:hsl(147, 75%, 86%),300:hsl(148, 75%, 50%), 400:hsl(148, 74%, 46%),500:hsl(115.6,48.9%,43.7%)),
  danger: (100:hsl(0, 76%, 90%) ,200:hsl(359, 79%, 78%),300:hsl(360, 78%, 62%),400:hsl(360, 78%, 50%),500:hsl(360, 78%, 38%)),
  warning: (300:hsl(25, 94%, 66%),400:hsl(25, 94%, 58%),500:hsl(25, 95%, 50%)),
  info: (100:hsl(192, 97%, 86%), 500:hsl(192, 97%, 50%)),
  light: (100:hsl(0,0%,100%)),
  heighlight: (100:hsl(178.6,100%,42%))
);

:root{
    @each $color,$shades in $colors{
        @each $shade, $value in $shades{
            --clr-#{$color}-#{$shade}:#{$value};
        }
    }
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
@each $color,$shades in $colors{
        @each $shade, $value in $shades{
          .text-#{$color}-#{$shade}{
              color:$value;
          }
          .bg-#{$color}-#{$shade}{
              background:$value;
          }
          .border-#{$color}-#{$shade}{
              border:1px solid $value;
          }
        }
    }



a {
  color:var(--clr-secondary-500);
  list-style: none;
  text-decoration: none;
}
a:hover,
a.active {
  color: var(--clr-primary-400);
}

a.highlight {
  color: var(--clr-primary-400);
}

.focuse {
  color: var(--clr-info-500);
}

.active {
  color: var(--clr-primary-400);
  background: #fff;
}